<form>
  <div class="row">
    <div class="large-4 columns">
        {{input value=title placeholder="Enter a Title"}}
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
        {{input value=author placeholder="Enter an Author Name"}}
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
        {{input value=url placeholder="Enter an URL"}}
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <button type="submit" class="tiny button"  {{action save this}}>
        Save
      </button>
      <button type="submit" class="tiny button"  {{action cancel this}}>
        Cancel
      </button>
    </div>
  </div>
</form>