<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'books.edit' this}} <button {{action destroyRecord this}}>Destroy</button></p>

<ul>
  <li>Title: {{title}}</li>
  <li>Author: {{author}}</li>
  <li>Url: {{url}}</li>
</ul>
