<div class="row">
  <ul>
    <li>Title: {{title}} {{link-to 'Edit' 'books.edit' this}}</li>
    <li>Author: {{author}} {{link-to 'Edit' 'books.edit' this}}</li>
    <li>Url: {{url}} {{link-to 'Edit' 'books.edit' this}}</li>
  </ul>
</div>

<div class="row">
  <button class="tiny button" {{action destroyRecord this}}>Delete</button>
</div>